
@model CarRent.Models.DataViewModels.CarViewModel

@{
    ViewData["Title"] = "Cars";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cars</h2>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Brand
                </th>
                <th>
                    Location
                </th>
                <th>
                    Plate
                </th>
                <th>
                    Price
                </th>
                <th>
                    Type
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Cars)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Plate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td> 
                        <a asp-area="" asp-controller="Car" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-area="" asp-controller="Car" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <a asp-area="" asp-controller="Car" asp-action="Create" class="btn btn-light">Create</a>
    </div>
</div>