
@model CarRent.Models.DataViewModels.CarViewModel

@{
    ViewData["Title"] = "Cars";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cars</h2>

<div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>
                    Brand
                </th>
                <th>
                    Location
                </th>
                <th>
                    Plate
                </th>
                <th>
                    Price
                </th>
                <th>
                    Type
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Cars)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberPlate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td> 
                        <a asp-area="" asp-controller="Car" asp-action="Edit" asp-route-id="@item.CarID" class="btn btn-sm btn-outline-dark">Edit</a>
                        
                        <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#@item.NumberPlate">
                            Delete
                        </button>
                        <!-- The Modal -->
                        <div class="modal fade" id="@item.NumberPlate">
                            <div class="modal-dialog modal-sm modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Delete Car</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        Do you really want to delete @item.Brand?
                                    </div>
                                        
                                    <div class="modal-footer">
                                        <a asp-area="" asp-controller="Car" asp-action="Delete" asp-route-id="@item.CarID" class="btn btn-sm btn-danger">Delete</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <a asp-area="" asp-controller="Car" asp-action="Create" class="btn btn-outline-primary">Create</a>
    </div>
</div>