@model CarRent.Models.DataViewModels.RentViewModel

@{
    ViewData["Title"] = "RentPreview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RentPreview</h2>

<div class="container">
    <h5 class="row">Rent Details</h5>
    <div class="row">
        <div class="col-12">
            <table class="w-100 table">
                <tr>
                    <th>ID:</th>
                    <th>@Model.RentDetails.RentID</th>
                </tr>
                <tr>
                    <th>Car:</th>
                    <td>@Model.RentDetails.Car.Brand</td>
                </tr>
                <tr>
                    <th>Address:</th>
                    <td>@Model.RentDetails.Site.Address</td>
                </tr>
                <tr>
                    <th>Insuracne:</th>
                    <td>@Model.RentDetails.Insurance</td>
                </tr>
                <tr>
                    <th>Starts</th>
                    <td>@Model.RentDetails.RentStarts</td>
                </tr>
                <tr>
                    <th>Ends</th>
                    <td>@Model.RentDetails.RentEnds</td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td>@Model.RentDetails.Price</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <a asp-area="" asp-controller="Rent" asp-action="FinishRent" asp-route-id="@Model.RentDetails.RentID" class="btn btn-primary btn-block">Confirm</a>
    </div>
</div>
<div class="container">
    <a asp-controller="Home" asp-action="Index" class="btn btn-sm btn-outline-dark">Back to List</a>
</div>
