@model CarRent.Models.DataViewModels.RentViewModel

@{
    ViewData["Title"] = "Rents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rents</h2>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Car
                </th>
                <th>
                    Starts
                </th>
                <th>
                    Ends
                </th>
                <th>
                    State
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Rents)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Car.NumberPlate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RentStarts.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RentEnds.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                    <td>
                        <a asp-area="" asp-controller="Rent" asp-action="Details" asp-route-id="@item.RentID" class="btn btn-outline-dark btn-sm">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>