@model CarRent.Models.DataViewModels.CarViewModel

@{
    ViewData["Title"] = "CarDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Regular Car detail View -->

<div>
    <h2>CarDetails</h2>
</div>

<div>
    <div>
        <h4>@Model.CarFullDetail.Brand</h4>
        <hr />
        <dl class="dl-horizontal"></dl>
    </div>

    <div class="container">
        <h5 class="row">Details</h5>
        <div class="row">
            <div class="col-6">
                <table class="w-100 table">
                    <tr>
                        <th>Brand:</th>
                        <td>@Model.CarFullDetail.Brand</td>
                    </tr>
                    <tr>
                        <th>Type:</th>
                        <td>@Model.CarFullDetail.Type</td>
                    </tr>
                    <tr>
                        <th>Trunk:</th>
                        <td>@Model.CarFullDetail.Trunk l</td>
                    </tr>
                    <tr>
                        <th>Doors</th>
                        <td>@Model.CarFullDetail.Doors</td>
                    </tr>
                    <tr>
                        <th>Power</th>
                        <td>@Model.CarFullDetail.Power HP</td>
                    </tr>
                    <tr>
                        <th>Passangers</th>
                        <td>@Model.CarFullDetail.Passangers</td>
                    </tr>
                    <tr>
                        <th>Price</th>
                        <td>@Model.CarFullDetail.Price Ft/day</td>
                    </tr>
                </table>
                <div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-area="" asp-controller="Rent" asp-action="Create" class="btn btn-outline-primary btn-block">Rent</a>
                    }
                    else
                    {
                        <a asp-area="" asp-controller="Account" asp-action="Login" class="btn btn-outline-primary btn-block">Rent</a>
                    }
                </div>
            </div>

            <div class="col-6">
                <h6>Images</h6>
                <div class="row">
                    <div id="mycarousel" class="carousel slide" data-ride="carousel">
                        <!-- The slideshow -->
                        <div class="carousel-inner">
                            @foreach (var img in Model.CarFullDetail.Images)
                            {
                                @if (Model.CarFullDetail.Images.FirstOrDefault().ImageID == img.ImageID)
                                {
                                    <div class="carousel-item active mx-auto">
                                        <img src="~/images/@img.Path" width="400" height="300">
                                    </div>
                                }
                                else
                                {
                                    <div class="carousel-item mx-auto">
                                        <img src="~/images/@img.Path" width="400" height="300">
                                    </div>
                                }
                            }
                            <div class="carousel-item">
                                <img src="http://via.placeholder.com/400x300" alt="New York" width="400" height="300">
                            </div>
                            <div class="carousel-item">
                                <img src="http://via.placeholder.com/400x300" alt="Los Angeles" width="400" height="300">
                            </div>
                            <div class="carousel-item">
                                <img src="http://via.placeholder.com/400x300" alt="Chicago" width="400" height="300">
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#mycarousel" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#mycarousel" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                    </div>
                </div>

                <h6>Location Map</h6>
                <div class="row">
                    <img src="http://via.placeholder.com/400x400" />
                </div>
            </div>
        </div>
        <div class="row">
            <h6>Description</h6>
            <text class="description">@Model.CarFullDetail.Description</text>
        </div>
    </div>

    <div>
        <a asp-action="Index" class="btn btn-outline-dark btn-sm">Back to Home page</a>
    </div>
</div>

